@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@theme {
  /* FONT FAMILY */
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

  /* CUSTOM FONT SIZES -  menurut figma design system */
  --text-display-3xl: 60px;
  --text-display-2xl: 48px;
  --text-display-xl: 40px;
  --text-display-lg: 36px;
  --text-display-md: 32px;
  --text-display-sm: 28px;
  --text-display-xs: 24px;

  /* CUSTOM LINE HEIGHT - menurut figma design system */
  --leading-display-3xl: 72px;
  --leading-display-2xl: 60px;
  --leading-display-xl: 48px;
  --leading-display-lg: 44px;
  --leading-display-md: 40px;
  --leading-display-sm: 38px;
  --leading-display-xs: 36px;

  --text-xl: 20px;
  --text-lg: 18px;
  --text-md: 16px;
  --text-sm: 14px;
  --text-xs: 12px;

  --leading-xl: 34px;
  --leading-lg: 32px;
  --leading-md: 30px;

  /* CUSTOM COLORS - menurut figma design system */
  --color-primary-100: #421abc;
  --color-neutral-500: #717680;
  --color-neutral-800: #252b37;
  --color-neutral-900: #181d27;
  --color-neutral-25: #fdfdfd;

  --color-primary-blue-dark: #0056b3;
  --color-primary-glow: #210a5e4d;
}

@layer components {
  .nav-link {
    @apply block py-2 rounded focus:outline-none focus:ring-2 focus:ring-primary-100;
  }

  .btn-primary {
    @apply bg-primary-100 hover:bg-primary-blue-dark text-white font-semibold
           py-2 rounded-full transition-colors cursor-pointer
           focus:outline-none focus:ring-2 focus:ring-primary-100;
  }

  /* ✅ SESUDAH — input.css */
  .form-input {
    @apply border border-neutral-800 rounded-lg p-2 w-full text-md bg-transparent
         focus:outline-none focus:ring-2 focus:ring-primary-100 resize-none;
  }

  .service-card {
    @apply flex flex-col border-neutral-900 border rounded-xl items-center justify-center gap-4 p-6 hover:-translate-y-1 hover:opacity-85 transition-all duration-200;
  }

  .work-card {
    @apply flex flex-col gap-2 overflow-hidden rounded-xl hover:-translate-y-1 hover:opacity-85 transition-all duration-200;
  }

  .team-card {
    @apply flex flex-col items-center py-4 px-2 gap-2 hover:-translate-y-1 hover:opacity-85 transition-all duration-200;
  }
}
